*{
    margin: 0;
    margin: 0;
    font-family:  'poppins', sans-serif;
    box-sizing: border-box;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 10%;
    color: #fff;
}

.hero h3{
    margin-top: 15%;
    font-weight: 400;
    font-size: 30px;
}

.hero h1{
    margin-top: 30px;
    font-size: 40px;
}

.hero p{
    margin: 10px 0 50px;
}

form{
    background: #fff;
    display: flex;
    width: fit-content;
}

form input{
    border: 0;
    outline: none;
    padding: 10px 20px;
    height: 50px;
    width: 400px;
    font-size: 16px;
}

form button{
         background: #3bb8e6;
         border: none;
         outline: none;
         height: 50px;
         width: 100px;
         cursor: pointer;
}

span{
    color: #3bb8e6;
    margin-top: 10px;
    display: block;
}
